body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.header {
    background-color: #f2f2f2;
    padding: 15px;
    text-align: center;
    position: relative; /* Ensure positioning context for absolute positioning */
}

.header button {
    position: absolute;
    top: 5px;
    left: 5px;
}

#calculatorSelect {
    margin-left: 10px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(81, 83, 199);
    border-radius: 10px;
}

.calculator-options {
    float: right;
}

.calculator-container {
    text-align: center;
    margin: 0.5%;
}

table {
    margin-left: 15%;
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 10%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

footer {
    
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button:hover{
    background-color: rgb(0, 0, 172);
}
